In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Isa,AU,2022-01-26 01:13:13,-20.7333,139.5000,85.77,66,75,14.97
1,1,Barrow,US,2022-01-26 01:08:48,71.2906,-156.7887,-5.78,77,75,21.85
2,2,Hithadhoo,MV,2022-01-26 01:13:14,-0.6000,73.0833,81.10,67,100,17.94
3,3,Leh,IN,2022-01-26 01:13:14,34.1667,77.5833,-5.60,88,100,3.89
4,4,Thompson,CA,2022-01-26 01:13:15,55.7435,-97.8558,-2.79,86,100,12.95

In [5]:
# Get data types
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     566 non-null    int64
 1   City        566 non-null    object
 2   Country     562 non-null    object
 3   Date        566 non-null    object
 4   Lat         566 non-null    float64
 5   Lng         566 non-null    float64
 6   Max Temp    566 non-null    float64
 7   Humidity    566 non-null    int64
 8   Cloudiness  566 non-null    int64
 9   Wind Speed  566 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.3+ KB

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# General syntax to create heatmap
#1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Isa,AU,2022-01-26 01:13:13,-20.7333,139.5000,85.77,66,75,14.97
2,2,Hithadhoo,MV,2022-01-26 01:13:14,-0.6000,73.0833,81.10,67,100,17.94
7,7,Alofi,NU,2022-01-26 01:13:16,-19.0595,-169.9187,80.49,89,75,6.91
13,13,Atuona,PF,2022-01-26 01:05:27,-9.8000,-139.0333,78.31,74,3,17.47
15,15,Souillac,MU,2022-01-26 01:13:19,-20.5167,57.5167,75.58,69,40,10.36
16,16,Lindi,TZ,2022-01-26 01:13:20,-10.0000,39.7167,79.95,70,100,9.57
21,21,Caravelas,BR,2022-01-26 01:13:22,-17.7125,-39.2481,76.77,84,100,8.79
24,24,Port Dickson,MY,2022-01-26 01:13:23,2.5228,101.7959,77.22,81,35,4.65
27,27,Vaini,TO,2022-01-26 01:13:24,-21.2000,-175.2000,86.16,79,20,6.91
29,29,Avarua,CK,2022-01-26 01:13:25,-21.2078,-159.7750,80.65,78,75,2.30

In [32]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Mount Isa      AU     85.77 -20.7333  139.5000
2      Hithadhoo      MV     81.10  -0.6000   73.0833
7          Alofi      NU     80.49 -19.0595 -169.9187
13        Atuona      PF     78.31  -9.8000 -139.0333
15      Souillac      MU     75.58 -20.5167   57.5167
16         Lindi      TZ     79.95 -10.0000   39.7167
21     Caravelas      BR     76.77 -17.7125  -39.2481
24  Port Dickson      MY     77.22   2.5228  101.7959
27         Vaini      TO     86.16 -21.2000 -175.2000
29        Avarua      CK     80.65 -21.2078 -159.7750

In [35]:
# Import the API key.
from config import g_key

#base URL for JSON return
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters to search for a hotel.
#params = {
#    "radius": 5000,
#    "type": "lodging",
#    "key": g_key
#}

#request URL
#r = requests.get(base_url, params=params).json

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mount Isa,AU,85.77,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,Hithadhoo,MV,81.10,-0.6000,73.0833,Scoop Guest House
7,Alofi,NU,80.49,-19.0595,-169.9187,Taloa Heights
13,Atuona,PF,78.31,-9.8000,-139.0333,Villa Enata
15,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
16,Lindi,TZ,79.95,-10.0000,39.7167,Lindi paradise house
21,Caravelas,BR,76.77,-17.7125,-39.2481,Pousada dos Navegantes
24,Port Dickson,MY,77.22,2.5228,101.7959,Glory Beach Resort
27,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort
29,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#Pop-up marker formatting
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))